
/* Estilo del body */
body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Montserrat';
}
/* Estilo del navbar */
.navbar-logo {
    height: 40px;
    margin-right: 10px;
}
.navbar {
    background-color: rgba(0, 0, 0, 0.5);
}
/* Estilos para los h2 */
h2 {
    font-size: 28px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
}
/* Estilos para los iconos contenidos */
.icon-container {
    background-color: #0DCAF0;
    padding-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 4px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.text-left {
    text-align: left;
}
/* -------Estilo para las tarjetas------- */
#lugares-destacados {
    margin-top: 40px;
    text-align: left;
    }
.card {
    background-color: #0DCAF0;
}  
 .card .card-title {
        font-size: 24px;
        color: #ffffff;
        margin-bottom: 10px;
    }
 .card .card-text {
        color: #ffffff;
    }
    .card-image {
        height: 180px;
        object-fit: cover;
    }
/* -------Estilo para formualrio------- */
form {
    padding-top: 20px;
    padding-bottom: 80px;
    font-family: 'montserrat', sans-serif;
        font-size: 16px;
        color: #ffffff;
}
.btn-custom-color {
    background-color: #0DCAF0;
    color: #ffffff;
}
.btn-custom-color:hover {
    background-color: #0099cc;
}
/*-------Estilo para el footer-------*/
footer {
    background-color: #0DCAF0;
    padding: 20px 0;
    text-align: center;
}
.icon-white {
    color: #ffffff;
    margin-left: 20px;
}
.footer-social-icons a {
    text-decoration: none;
}